<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <!--Standard Prozedur-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Kalender</title>
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <!--Full Calendar-->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
  </head>
  <!--Style Anpassungen im body fpr den dunkelen Hintergrund-->
  <body style="background-color: #222; color: white;">
    <!--NavBar-->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="https://www.hp-geruestbau.de/">HP Gerüstbau</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Tour Kalender</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tourcreation.html">Tour erstellen</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/modify_tours.html">Toureinträge ändern</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!--Überschrift-->
    <div class="container-fluid mt-3 mb-3">
      <div class="d-flex justify-content-center align-items-center">
          <h1>Tour Kalender</h1>
      </div>
      <!--Kalender wird hier eingebunden-->
      <div id="calendar"></div>
    <script>
      // Kalendereinbindung und Konfiguration
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'timeGridWeek',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'timeGridWeek, timeGridDay'
          },
          locale: 'de',
          timeZone: 'Europe/Berlin',
          themeSystem: 'bootstrap5',
          windowResize: true,
          hiddenDays: [0],
          expandRows: true,
          slotMinTime: '07:00:00',
          slotMaxTime: '19:00:00',
          slotDuration: '01:00:00',
          slotLabelInterval: { hours: 1 },
          editable: true,
          // Funktion, um das Event zu verschieben (Datum und Zeit), wird dynamisch in der DB gespeichert
          eventDrop: function(info) {
            var eventID = info.event.id;
            var newStart = info.event.start.toISOString();
            // gleiches Vorgehen wie immer 
            fetch(`/update_event/`+ eventID, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ newStart: newStart })
            })
            .then(response => response.json())
            .then(data => {
              console.log("Event wurde verschoben und in Datenbank aktualisiert:", data.message);
            })
            .catch(error => {
              console.error("Fehler beim Aktualisieren:", error);
            });
          },
          // hier kommen die Daten her
          eventSources: [
            {
              url: '/get_tours', 
              method: 'GET',
              failure: function() {
                console.log('Fehler beim Laden der Ereignisse!');
              }
            }
          ],

          // die Funtkion gewährleister, dass sich die Dauer anpassen lässt
          eventResize: function(info) {
            var eventID = info.event.id;
            var start = info.event.start;
            var end = info.event.end;

            var millisecondsDiff = end - start; // Differenz in Millisekunden
            var hoursDiff = millisecondsDiff / (1000 * 60 * 60); // Differenz in Stunden

            var newDuration = hoursDiff / 8;

            fetch(`/update_duration/${eventID}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ newDuration: newDuration })
            })
            .then(response => response.json())
            .then(data => {
                console.log("Event-Dauer wurde aktualisiert:", data.message);
            })
            .catch(error => {
                console.error("Fehler beim Aktualisieren der Dauer:", error);
            });
        },
        // in dieser Funktion werden die "Attribute" die durch "eventSources" empfangen wurden in die Events geschrieben
        eventContent: function(arg) {
          return {
            html: '<b>' + arg.event.title + '</b>' + '<br>' + arg.event.extendedProps.description
            };
          },
          eventDisplay: 'block',
          displayEventTime: true
        });
        // rendert den gesamten Kalender
          calendar.render();
        });
        // Bootstrap js
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    </script>
  </body>
</html>
